<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ bootstrap.load_css() }}
    <title>引智——全新在线自适应学习系统</title>
    <meta name="author" content="QwQ">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/index">引智</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/learn/dashboard">控制台</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/community">社区</a>
                    </li>
                    <li class="nav-item dropdown ml-md-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                            data-toggle="dropdown">用户</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            {% if current_user.is_authenticated %}
                            <a class="dropdown-item" href="/user/profile/{{current_user.username}}">个人信息</a> <a
                                class="dropdown-item" href="#">设置</a>
                            <div class="dropdown-divider">
                            </div> <a class="dropdown-item" href="/user/logout">登出</a>
                            {% else %}
                            <a class="dropdown-item" href="/user/login">登录</a>
                            <a class="dropdown-item" href="/user/register">注册</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>

                <div id="app" class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <br>
                        <div class="jumbotron">
                            <h2 align="center">
                                <% user_domain.name %>
                            </h2>
                            <br>
                            <p align="center">
                                <% user_domain.description %>
                            </p>
                            <blockquote class="blockquote">
                                <p class="mb-0">
                                    无数的学习者与你同行。
                                </p>
                                <footer class="blockquote-footer">
                                    正在学习：<% user_domain.learning_count %> 已经学完：<% user_domain.finished_count %>
                                </footer>
                            </blockquote>

                            <div v-if="user_domain.state == 2">
                                <a v-bind:href=" '/learn/domain/next/' + user_domain.domain_id ">
                                    <button type="button" class="btn btn-md btn-primary btn-block">下一步</button>
                                </a>
                            </div>
                            <div v-else-if="user_domain.state == 1">
                                <a v-bind:href=" '/learn/domain/pretest/' + user_domain.domain_id ">
                                    <button type="button" class="btn btn-md btn-primary btn-block">继续覆盖性测试</button>
                                </a>
                            </div>
                            <div v-else-if="user_domain.state == 0">
                                <a v-bind:href=" '/learn/domain/pretest/' + user_domain.domain_id ">
                                    <button type="button" class="btn btn-md btn-primary btn-block">开始覆盖性测试</button>
                                </a>
                            </div>
                        </div>
                        <h5>知识树形图</h5>
                        <div id="knowledge_tree_chart" style="width:100%; height:500px;"></div>

                        <h5><% user_domain.name %> 最近的学习记录</h5>
                        <div v-if="logs.length">
                            <table class="table">
                            <thead>
                                <tr>
                                    <th>时间段</th>
                                    <th>领域</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                             </thead>
                             <tbody>
                                <tr v-for="log in logs">
                                    <td><% log.start %> ~ <% log.end %></td>
                                    <td><% user_domain.name %> /
                                        <% sections[log.section_id].name %> /
                                        <% nodes[log.node_id].name %></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                        <div v-else class="jumbotron">
                            <h5 align="center">还没有学习记录</h5>
                        </div>

                        <div id="time_range" style="height:500px;"></div>
                        <div id="tree_chart" style="height:500px;"></div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
    {{ bootstrap.load_js() }}
</body>

<script src="/static/script/vue.min.js"></script>
<script src="/static/script/echarts.min.js"></script>

<script src="/static/script/gantt_chart.js"></script>
<script src="/static/script/tree_chart.js"></script>

<script src="/static/script/req.js"></script>
<script src="/static/script/api.js"></script>
<script src="/static/script/utils.js"></script>
<script src="/static/script/tree.js"></script>
<script>
    let domain_id = window.location.href.split('/').pop();
    let section2nodes = {};
    let section_names = [];
    let node_names = [];

    var app = new Vue({
        el: '#app',
        data: {
            domain_id: domain_id,
            user_domain: {},
            sections: {},
            nodes: {},
            logs: {}
        },
        methods: {
        },
        filters: {
        },
        created: function() {
            this.user_domain = JSON.parse(get_user_domain(this.domain_id));
            this.sections = JSON.parse(get_sections(this.domain_id));
            this.nodes = JSON.parse(get_nodes());
            this.logs = JSON.parse(get_domain_logs(this.domain_id));


            for (const id in this.sections) {
                section_names.push(this.sections[id].name);
            }
            for (const id in this.nodes) {
                node_names.push(this.nodes[id].name);
            }

            for (const node_id in this.nodes) {
                section_id   = this.nodes[node_id].section_id;
                section_name = this.sections[section_id].name;
                node_name    = this.nodes[node_id].name;

                if (!(node_name in section2nodes)) {
                    section2nodes[section_name] = [];
                }
                section2nodes[section_name].push(node_name);
            }
        },
        delimiters: ["<%", "%>"]
    });

    let knowledge_tree_chart = echarts.init(document.getElementById('knowledge_tree_chart'));
    let tree = JSON.parse(get_domain_tree(domain_id));
    knowledge_tree_chart.setOption(option=get_knowledge_tree_option(tree));
    knowledge_tree_chart.on('click', function (params) {
        window.open('/learn/section/' + params.data['id'], '_self');
    });

    intervals = [];
    app.logs.forEach((log) => {
        intervals.push({
            'id':               log.section_id,
            'type_name':        app.sections[log.section_id].name,
            'subtype_name':     app.nodes[log.node_id].name,
            'start':            new Date(log.start),
            'end':              new Date(log.end)
        })
    });

    let time_range_chart = echarts.init(document.getElementById('time_range'));
    let tree_chart = echarts.init(document.getElementById('tree_chart'));
    time_range_chart.setOption(option = generate_gantt_option(intervals, section_names));
    tree_chart.setOption(option = get_tree_chart(intervals, section_names, node_names, section2nodes));

</script>
</html>
