<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ bootstrap.load_css() }}
    <title>引智——全新在线自适应学习系统</title>

    <meta name="author" content="QwQ">


</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/index">引智</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/domain/dashboard">领域控制台</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/community">社区</a>
                    </li>
                    <li class="nav-item dropdown ml-md-auto">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                            data-toggle="dropdown">用户</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            {% if current_user.is_authenticated %}
                            <a class="dropdown-item" href="/profile/{{current_user.username}}">个人信息</a> <a
                                class="dropdown-item" href="#">设置</a>
                            <div class="dropdown-divider">
                            </div> <a class="dropdown-item" href="/logout">登出</a>
                            {% else %}
                            {{ bootstrap.load_css() }}       <a class="dropdown-item" href="/login">登录</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>
                <h3>
                    用户{{user.username}} 的个人资料
                </h3><img src="{{user.avatar_name}}" width="128" height="128" />
                <dl>
                    <dt>
                        性别： {{gender}}
                    </dt>

                    <dt>
                        个人描述
                    </dt>
                    <dd>
                        {{user.io}}
                    </dd>

                </dl>
                {% if current_user.is_authenticated %}
                    {% if current_user.username==user.username %}
                        <a href = "/new_profile">
                        <button type="button" class="btn btn-info">
                            编辑资料
                        </button>
                    </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    {{ bootstrap.load_js() }}
</body>

</html>