{% block content %}
<h >Register</h >
<form action="" method="post">
{{ form.hidden_tag() }}
<p>
{{ form.username.label }}<br>
{{ form.username(size=32 ) }}<br>
{% for error in form.username.errors %}
<span style="color: red;">[{{ error }}]</span>
{% endfor %}
</p>
<p>
{{ form.password.label }}<br>
{{ form.password(size=32 ) }}<br>
{% for error in form.password.errors %}
<span style="color: red;">[{{ error }}]</span>
{% endfor %}
</p>
<p>
{{ form.password .label }}<br>
{{ form.password (size= 32) }}<br>
{% for error in form.password .errors %}
<span style="color: red;">[{{ error }}]</span>
{% endfor %}
</p>
<p>
    {{form.verify_code.label}}
    {{form.verify_code(size = 4)}}
</p>
<img class="verify_code" src="/code " onclick="this.src='/code?'+ Math.random()">
<p>{{ form.submit() }}</p>
</form>
{% endblock %}